@import url('https://fonts.googleapis.com/css?family=Inter:regular,bold,italic&subset=latin,latin-ext');

.enter {
  background-color: rgba(255, 255, 255, 1);
  padding: 0 49px 0 0;
  display: flex;
  align-items: flex-start;
}

.welcome {
  width: 598px;
  height: 100vh;
  position: relative;
  background-image: url("https://static.overlay-tech.com/assets/e0d5bab2-fb41-49cf-ae5c-4f5e72802ebc.png");
  background-size: cover;
}

.welcome-pic {
  width: 10.15%;
  height: 4%;
  position: absolute;
  left: 39.58px;
  top: 25px;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 107px;
  top: 380px;
}
.welcome-text-title {
  font-family: "Inter";
  font-size: 32px;
  font-weight: 500;
  line-height: 45px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 16px;
}
.welcome-text-desc {
  max-width: 363px;
  color: rgba(255, 255, 255, 1);
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 150px;
  margin-left: 154px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  color: rgba(20, 32, 47, 1);
  margin-bottom: 12px;
}
.item {
  margin-bottom: 18px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.item-wrapper {
  margin-right: 37px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-desc {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
}

.item-text{
  color: rgba(88, 96, 108, 1);
  margin-bottom: 14px;
}

.item-title {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  padding: 10px 14px 11px;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid rgba(229, 235, 239, 1);
}

.item-card {
  margin-left: 40px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  width: 162px;
  height: 2px;
  background-color: rgba(20, 85, 255, 1);
  border-radius: 6px;
  opacity: 0.21;
  position: relative;
}

.choice {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.choice-input {
  background-color: rgba(240, 244, 249, 1);
  margin-bottom: 26px;
  border-radius: 8px;
  padding: 11px 16px 12px 15px;
  display: flex;
  align-items: center;
  border: none;
}

.check{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.checkbox-text {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.button {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(20, 85, 255, 1);
  border-radius: 8px;
  padding: 13.5px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}